@charset "utf-8";
/*====================Embed Font====================*/
/*======================Format======================*/
#banner{
	background-image:url(../imgs/2-about.jpg);
	width:100%;
	background-size:cover;
}
#welcome h2{
	font-family: 'Playfair Display', serif;
	font-size:33pt;
	text-align:center;
	border-bottom:solid 1px #000;
	width:230px;
	margin-bottom:25px;
}
#welcome p{
	font-family: 'Droid Serif', serif;
	margin-top:20px;
	font-size:11pt;
	text-align:center;
	color:#666;
	line-height:18pt;
	margin-bottom:40px;
}
.wel img{
	margin-bottom:50px;
}
.we1{
	font-family:LatoH;
	margin-bottom:0px;
	margin-top:30px;
}
.we1:hover{
	color:#996633;
}
.we2{
	color:#666;
	font-family: 'Droid Serif', serif;
}
.left{
	float:left;
	margin-right:10px;
}
.welt p{
	font-family: 'Droid Serif', serif;
}


/*======================================================================
============================MOBILE VERSION==============================
======================================================================*/
@media only screen and (max-width: 40em) {
#welcome h2{
	margin-left:110px;
}

}
/*======================================================================
============================TABLET VERSION==============================
======================================================================*/
@media only screen and (min-width: 40.063em) {
#welcome h2{
	margin-left:254px;
}
#footer{
	margin-top:180px;
}
.we2{
	font-size:9pt;
}
}
/*======================================================================
==============================PC VERSION================================
======================================================================*/
@media only screen and (min-width: 64.063em) {
#welcome h2{
	margin-left:370px;
}
.we2{
	font-size:11pt;
}
#footer{
	margin-top:0px;
}

}



