@charset "utf-8";
/*====================Embed Font====================*/
/*======================Format======================*/
#welcome h2{
	font-family: 'Playfair Display', serif;
	margin-top:40px;
	font-size:33pt;
	text-align:center;
	border-bottom:solid 1px #000;
	width:260px;
	margin-left:355px;
	margin-bottom:25px;
}
#welcome p{
	font-family: 'Droid Serif', serif;
	margin-top:20px;
	font-size:11pt;
	text-align:center;
	width:634px;
	margin-left:168px;
	color:#666;
	line-height:18pt;
	margin-bottom:40px;
}
.cloth{
	margin-bottom:30px;
	font-family: 'Droid Serif', serif;
}
.cloth img{
	margin-bottom:20px;
}
.clothname{
	float:left;
}
.clothprice{
	font-weight:bold;
	text-align:right;
	font-size:15pt;
}
.clothcat{
	color:#666;
}
.cloth a{
	color:#000;
}
.cloth a:hover{
	color:#996633;
}


/*======================================================================
============================MOBILE VERSION==============================
======================================================================*/
@media only screen and (max-width: 40em) {

}
/*======================================================================
============================TABLET VERSION==============================
======================================================================*/
@media only screen and (min-width: 40.063em) {

}
/*======================================================================
==============================PC VERSION================================
======================================================================*/
@media only screen and (min-width: 64.063em) {

}



