@font-face{
	font-family:LatoH;
	src:url(../font/Lato-Heavy.eot),
		url(../font/Lato-Heavy.ttf),
		url(../font/Lato-Heavy.woff);
}
body{
	margin:0px;
	padding:0px;
}
#navi{
	background-color:#fff;
	height:80px;
}
#logo{
	margin-top:11px;
}
#navii ul{
	list-style-type:none;
	margin-top:25px;
}
#navii ul li{
	float:left;
	margin-left:20px;
	margin-right:20px;
}
#navii ul li a{
	font-family:LatoH;
	font-size:10pt;
	color:#000;
	border-bottom:solid 1px rgba(0,0,0,0);
	transition:all ease .5s;
	-moz-transition:all ease .5s;
	-webkit-transition:all ease .5s;
}
#navii ul li a:hover{
	color:#000;
	border-bottom:solid 1px rgba(0,0,0,1);
	padding-bottom:5px;
	transition:all ease .5s;
	-moz-transition:all ease .5s;
	-webkit-transition:all ease .5s;
}
#welcome h2{
	font-family: 'Playfair Display', serif;
	margin-top:40px;
	font-size:33pt;
	text-align:center;
	border-bottom:solid 1px #000;
	width:230px;
	margin-left:370px;
	margin-bottom:25px;
}
#welcome p{
	font-family: 'Droid Serif', serif;
	margin-top:20px;
	font-size:11pt;
	text-align:center;
	width:634px;
	margin-left:168px;
	color:#666;
	line-height:18pt;
	margin-bottom:40px;
}
.wel img{
	margin-bottom:60px;
}
.we1{
	font-family:LatoH;
	margin-bottom:0px;
	margin-top:30px;
}
.we2{
	color:#666;
	font-family: 'Droid Serif', serif;
	font-size:11pt;
}
.left{
	float:left;
	margin-right:10px;
}
#footer{
	background-color:#000;
	height:200px;
	margin-top:20px;
}
#f1,#f2,#f3{
	margin-top:40px;
}
#flogo{
	margin-left:20px;
	margin-bottom:20px;
}
#cpr{
	font-family:LatoH;
	color:#fff;
	font-size:8pt;
}
#cpr img{
	margin-right:5px;
}
#f2 h3,#f3 h3{
	font-family:LatoH;
	color:#fff;
	font-size:12pt;
}

#f2 hr,#f3 hr{
	width:50px;
	margin:0px;
	border:solid 1px #996633;
	margin-bottom:10px;
}
#sprytextfield1{
	width:250px;
	float:left;
	margin-top:5px;
}
#signupbut{
	background-color:#996633;
	width:100px;
	height:37px;
	color:#000;
	border:none;
	font-family:LatoH;
	font-size:11pt;
	margin-top:5px;
}
#signupbut:hover{
	color:#fff;
}
#fcontact{
	font-family: 'Droid Serif', serif;
	color:#fff;
	font-size:11pt;
	line-height:20pt;
}
#fcontact img{
	margin-right:10px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #666;
	font-family: 'Droid Serif', serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666;
   opacity:  1;
	font-family: 'Droid Serif', serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666;
   opacity:  1;
   font-family: 'Droid Serif', serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #666;
   font-family: 'Droid Serif', serif;
}
.textfieldRequiredState .textfieldRequiredMsg, .textfieldInvalidFormatState .textfieldInvalidFormatMsg, .textfieldMinValueState .textfieldMinValueMsg, .textfieldMaxValueState .textfieldMaxValueMsg, .textfieldMinCharsState .textfieldMinCharsMsg, .textfieldMaxCharsState .textfieldMaxCharsMsg {
	font-family: 'Droid Serif', serif;
	font-size:11pt;
	border:none !important;
	color:#996633 !important;
}
#signup{
	margin-bottom:5px;
}
#shopbutton1{
	width:110px;
	height:30px;
	background-color:#fff;
	font-family:LatoH;
	color:#000;
	text-align:center;
	padding:5px;
	position:absolute;
	z-index:100;
	margin-left:400px;
	margin-top:200px;
}
#shopbutton1:hover{
	background-color:#000;
	color:#fff;
}
#shopbutton2{
	width:110px;
	height:30px;
	background-color:#FFF;
	font-family:LatoH;
	color:#000;
	text-align:center;
	padding:5px;
	position:absolute;
	z-index:100;
	margin-left:190px;
	margin-top:390px;
}
.banmar{
	margin-top:30px;
	margin-bottom:30px;
}
#shopbutton3{
	width:150px;
	height:30px;
	background-color:#FFF;
	font-family:LatoH;
	color:#000;
	text-align:center;
	padding:5px;
	position:absolute;
	z-index:100;
	margin-left:170px;
	margin-top:235px;
}
#shopbutton2:hover,#shopbutton3:hover{
	background-color:#000;
	color:#fff;
}
#navibut{
	margin-top:25px;
	text-align:right;
}
#navibut a{
	margin-left:20px;
}
#social ul{
	list-style-type:none;
	text-align:left;
	margin-left:0px;
	margin-top:-10px;
}
#social ul li{
	float:left;
	margin-right:10px;
}
#social ul li a{
	color:#fff;
	font-size:15pt;
	transition:all ease .5s;
	-moz-transition:all ease .5s;
	-webkit-transition:all ease .5s;
}
#social ul li a:hover{
	color:#996633;
	transition:all ease .5s;
	-moz-transition:all ease .5s;
	-webkit-transition:all ease .5s;
}