@font-face{
	font-family:LatoH;
	src:url(../font/Lato-Heavy.eot),
		url(../font/Lato-Heavy.ttf),
		url(../font/Lato-Heavy.woff);
}
body{
	margin:0px;
	padding:0px;
}
#navi{
	background-color:#fff;
	height:80px;
}
#logo{
	margin-top:11px;
}
#navii ul{
	list-style-type:none;
	margin-top:25px;
}
#navii ul li{
	float:left;
	margin-left:20px;
	margin-right:20px;
}
#navii ul li a{
	font-family:LatoH;
	font-size:10pt;
	color:#000;
	border-bottom:solid 1px rgba(0,0,0,0);
	transition:all ease .5s;
	-moz-transition:all ease .5s;
	-webkit-transition:all ease .5s;
}
#navii ul li a:hover{
	color:#000;
	border-bottom:solid 1px rgba(0,0,0,1);
	padding-bottom:5px;
	transition:all ease .5s;
	-moz-transition:all ease .5s;
	-webkit-transition:all ease .5s;
}
#banner{
	background-image:url(../imgs/8-contact.jpg);
	height:300px;
	width:100%;
	background-size:cover;
}
#welcome h2{
	font-family: 'Playfair Display', serif;
	margin-top:40px;
	font-size:33pt;
	text-align:center;
	border-bottom:solid 1px #000;
	width:290px;
	margin-left:340px;
	margin-bottom:25px;
}
#welcome p{
	font-family: 'Droid Serif', serif;
	margin-top:20px;
	font-size:11pt;
	text-align:center;
	width:634px;
	margin-left:168px;
	color:#666;
	line-height:18pt;
	margin-bottom:40px;
}
#name,#mail,#mess{
	box-shadow:none;
	border-color:#666;
	margin-bottom:0px;
}
#namebox,#mailbox{
	height:60px;
}
#messbox{
	height:150px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
#sendbut,#resetbut{
	background-color:#000;
	width:100%;
	padding:10px;
	font-family:LatoH;
	color:#fff;
	border:none;
	margin-bottom:50px;
	font-size:11pt;
}
.textfieldRequiredState .textfieldRequiredMsg, .textfieldInvalidFormatState .textfieldInvalidFormatMsg, .textfieldMinValueState .textfieldMinValueMsg, .textfieldMaxValueState .textfieldMaxValueMsg, .textfieldMinCharsState .textfieldMinCharsMsg, .textfieldMaxCharsState .textfieldMaxCharsMsg ,.textareaRequiredState .textareaRequiredMsg, .textareaMinCharsState .textareaMinCharsMsg, .textareaMaxCharsState .textareaMaxCharsMsg {
	border:none !important;
	font-size:13px !important;
	font-family: 'Droid Serif', serif;
}
.textareaFocusState textarea, textarea.textareaFocusState {
    background-color:#FAFAFA !important;
}