@charset "utf-8";
/*====================Embed Font====================*/
/*======================Format======================*/
#welcome h2{
	font-family: 'Playfair Display', serif;
	font-size:33pt;
	text-align:center;
	border-bottom:solid 1px #000;
	width:230px;
	margin-bottom:25px;
}
#welcome p{
	font-family: 'Droid Serif', serif;
	margin-top:20px;
	font-size:11pt;
	text-align:center;
	color:#666;
	line-height:18pt;
	margin-bottom:40px;
}
#shopbutton1{
	width:110px;
	height:30px;
	background-color:#fff;
	font-family:LatoH;
	color:#000;
	text-align:center;
	padding:5px;
	position:absolute;
	z-index:100;
}
#shopbutton1:hover{
	background-color:#000;
	color:#fff;
}
#shopbutton2{
	width:110px;
	height:30px;
	background-color:#FFF;
	font-family:LatoH;
	color:#000;
	text-align:center;
	padding:5px;
	position:absolute;
	z-index:100;
}
.banmar{
	margin-top:30px;
}
#shopbutton3{
	width:150px;
	height:30px;
	background-color:#FFF;
	font-family:LatoH;
	color:#000;
	text-align:center;
	padding:5px;
	position:absolute;
	z-index:100;
}
#shopbutton2:hover,#shopbutton3:hover{
	background-color:#000;
	color:#fff;
}

/*======================================================================
============================MOBILE VERSION==============================
======================================================================*/
@media only screen and (max-width: 40em) {
#welcome h2{
	margin-left:110px;
}
#shopbutton1{
	margin-left:150px;
	margin-top:93px;
}
#shopbutton2{
	margin-left:180px;
	margin-top:375px;
}
#shopbutton3{
	margin-left:150px;
	margin-top:225px;
}

}
/*======================================================================
============================TABLET VERSION==============================
======================================================================*/
@media only screen and (min-width: 40.063em) {
#shopbutton1{
	margin-left:280px;
	margin-top:155px;
}
#shopbutton2{
	margin-left:130px;
	margin-top:300px;
}
#shopbutton3{
	margin-left:110px;
	margin-top:180px;
}
#welcome h2{
	margin-left:254px;
}
#footer{
	margin-top:30px;
}
}
/*======================================================================
==============================PC VERSION================================
======================================================================*/
@media only screen and (min-width: 64.063em) {
#shopbutton1{
	margin-left:400px;
	margin-top:200px;
}
#shopbutton2{
	margin-left:190px;
	margin-top:390px;
}
#shopbutton3{
	margin-left:170px;
	margin-top:235px;
}
#welcome h2{
	margin-left:370px;
}

}



