@charset "utf-8";
/*====================Embed Font====================*/
/*======================Format======================*/
#banner{
	background-image:url(../imgs/5-lookbook.jpg);
	width:100%;
	background-size:cover;
}
#welcome h2{
	font-family: 'Playfair Display', serif;
	font-size:33pt;
	text-align:center;
	border-bottom:solid 1px #000;
	width:260px;
	margin-bottom:25px;
}
#welcome p{
	font-family: 'Droid Serif', serif;
	margin-top:20px;
	font-size:11pt;
	text-align:center;
	width:634px;
	color:#666;
	line-height:18pt;
	margin-bottom:40px;
}
.pichover{
	position:absolute;
	z-index:100;
}
.pichover h3{
	font-family: 'Playfair Display', serif;
	color:#fff;
}
.pichover h4{
	font-family: 'Droid Serif', serif;
	color:#fff;
}
.lbpic a .pichover{
	opacity:1;
	transition:all ease 1s;
	-moz-transition:all ease 1s;
	-webkit-transition:all ease 1s;
}


/*======================================================================
============================MOBILE VERSION==============================
======================================================================*/
@media only screen and (max-width: 40em) {

}
/*======================================================================
============================TABLET VERSION==============================
======================================================================*/
@media only screen and (min-width: 40.063em) {
#welcome h2{
	margin-left:239px;
}
.pichover{
	width:354px;
	height:378.2px;
}
.lbpic{
	margin-bottom:30px;
}
.pichover h3{
	margin-top:150px;
	margin-left:25px;
	font-size:33pt;
	line-height:33pt;
}
.pichover hr{
	width:80px;
	border:solid 1px #fff;
	margin-left:25px;
	margin-top:5px;
	margin-bottom:5px;
}
.pichover h4{
	font-size:10pt;
	margin-left:25px;
}
.pichover{
	background-color:rgba(0,0,0,.5);
}

}
/*======================================================================
==============================PC VERSION================================
======================================================================*/
@media only screen and (min-width: 64.063em) {
#welcome h2{
	margin-left:355px;
}
.pichover{
	width:468px;
	height:500px;
}
.lbpic{
	margin-bottom:50px;
}
.pichover h3{
	margin-top:200px;
	margin-left:55px;
	font-size:44pt;
	line-height:44pt;
}
.pichover hr{
	width:100px;
	border:solid 2px #fff;
	margin-left:55px;
	margin-top:15px;
	margin-bottom:10px;
}
.pichover h4{
	font-size:11pt;
	margin-left:55px;
}
.pichover{
	background-color:rgba(0,0,0,.7);
}
.lbpic a:hover .pichover{
	opacity:0;
	transition:all ease 1s;
	-moz-transition:all ease 1s;
	-webkit-transition:all ease 1s;
}

}



