/* app.js */

#main-navbar {
    background: #00bcd4;
    height: 60px;
    padding-top: 10px;
}


#navbar-username span{
    color:#fff;
    font-size: 20px;
    font-family: 'Roboto-Light';
   
}

#main-navbar .search-wrapper {
    position: relative; 
}

#main-navbar .nav-btn{
    background: transparent;
    color:white;
    font-size: 17px;
    font-family: 'Roboto-Light';
    
}

#main-navbar .search-wrapper img {
    position: absolute;
    right: 10px;
    top: 5px;
}

#main-navbar .search-wrapper .loading-icon {
   position: absolute;
   margin:0;
   right: 10px;
   top: 5px;
}

#navbar-dropdown{
   /* background: #00bcd4; */
}
#navbar-dropdown ul li a{
   color:#000;
}
#navbar-dropdown li{
   height: 30px;
   
   
   text-align: center;
}
#navbar-dropdown li:hover{
   background:#fff;
}
#navbar-dropdown li:hover a{
   color:#000;
}
.navbar-brand {
    padding: 5px 5px;
}



@media screen and (min-width: 768px) {
    
   #navbar-dropdown{
       visibility: hidden; 
   }
   #dropdown-wrapper{
       height: 0;
   }
}


.navbar-brand>img {
    height: 48px;
    width: 48px;
    margin: 0;
    padding: 0;
    margin-top: -9px;
}

#site-wrapper {
    padding-right: 0;
    padding-left: 0;
    max-width: 1500px;
}
 

#user-menu{
    position: absolute;
    top:51px;
   
    width: 120px;
    border-radius: 2px;
}
#user-menu ul {
    width:auto;
    padding:0;
    
}
#user-menu ul li{
    list-style-type: none;
    cursor: pointer;
    width: auto;
    padding: 10px;
}

#web-menu{
    position: absolute;
    top:51px;
   
    width: 120px;
    border-radius: 2px;
}

.sideBar {
    height: 500px; 
}

#hashtagCol {
    padding-right: 0;
    padding-left: 0;
}

#hashtagCol .hashtag-sb-header a { 
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}

#hashtagCol .hashtag-sb-header:hover a { 
    background: none;
}
#hashtagCol .hashtag-sb-header.active a { 
  background: none;
}

#hashtagCol .hashtag-sb-header span {
    font-size: 17px;
    color: #fff;
    font-family: 'Roboto-Regular'
}
.hashtag-item{
    cursor: pointer;
    text-decoration: #000;
}
 

#hashtagCol .chip-text {
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: '#4abdd5';
}

#hashtagCol ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

#hashtagCol ul li {
    list-style-type: none;
    display: inline;
   
}

#hashtagCol ul li a {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.loadmore-hashtag{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
 .loadmore-hashtag span{
     color:#6bdbf4;
     text-decoration: underline;
     font-family: 'Roboto-Regular';
 }

.gridFluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.snackBarContent {
    color: rgb(255, 64, 129);
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px
}

.title {
    cursor: pointer;
}

.popOverItem {
    text-decoration: none
}

.appBar {
    margin-bottom: 0px
}