/* post.js */

.post-content {
    font-family: 'Roboto-Light';
    font-size: 16px;
}

.post-action {
    display: flex;
}

.post-action .action-item {
    width: calc(100% / 4);
}

.post-action .like-col,
.dislike-col {
    width: 13%;
}

.post-action .like-col,
.dislike-col span {
    font-size: 16px;
    font-family: 'Roboto-Light';
}

.post-action .cmt-col {
    flex-grow: 1;
}

.post-action .share-col {
    float: right;
}

.flexbox-img {
    display: flex;
}

.img-wrapper {
    width: 100%;
    margin: 1px;
    overflow: hidden;
}

.img-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}


/* 16:9 Aspect Ratio */
.ratio169 {
    width: 100%;
    margin: 1px;
    overflow: hidden;
}

.ratio169:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}