
 /* post-list.js */

 #postType {
    width: 100%;
    
    background: #fff;
    /* box-shadow: 3px 3px #cacaca; */
}

#postType>li {
    width: 33.333%;
    text-align: center;
}



#postType>li.active {
    border  : none;
    border-bottom: solid 4px #659fe8;
}
#postType>li.active a{
    border  : none;
}

#postType>li a {
    font-size: 16px;
    font-family: 'Roboto-Light';
    font-weight: 600;
}

.loading-icon {
    margin-top: 30px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

.container-masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

.container-masonry .masonry-item:nth-child(4n+1) {
    clear: left;
}

.container-masonry .masonry-item {
    display: inline-block;
    width: 100%;
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 574px) {
    .container-masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
        column-gap: 20px;
    }
    #site-wrapper>.col-md-8 {
        border: none;
    }
}

.content {
    color: #000;
    font-size: 28px;
    font-family: 'Roboto-Regular';
}