 /* global */


 @font-face {
     font-family: 'Roboto-Light';
     /*a name to be used later*/
     src: url('Roboto-Light.ttf');
     /*URL to font*/
 }

 @font-face {
     font-family: 'Roboto-Regular';
     /*a name to be used later*/
     src: url('Roboto-Regular.ttf');
     /*URL to font*/
 }
 /* Bootstap modal support */

a{
    color:#4abdd5;
}

 .modal-header,
 .modal-footer {
     border: none;
 }

 .modal-header .close{
     color: #fff;
     font-size: 30px;
     opacity: 1;
     font-family: 'Roboto-Light';
 }

 .modal-title {
     font-size: 30px;
     color: #fff;
     font-family: 'Roboto-Light';
     text-align: center;
 }

 .modal-content {
     background: url('./img/Web_Dialod_Background.png')  ;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top right;
 }

 .modal-dialog {
     padding-top: 13%;
 }

 .modal-dialog {
     position: relative;
     width: auto;
     max-width: 600px;
     margin: 10px;
 }

 .modal-sm {
     max-width: 300px;
 }

 .modal-lg {
     max-width: 900px;
 }

 @media (min-width: 768px) {
     .modal-dialog {
         margin: 30px auto;
     }
 }

 @media (min-width: 320px) {
     .modal-sm {
         margin-right: auto;
         margin-left: auto;
     }
 }

 @media (min-width: 620px) {
     .modal-dialog {
         margin-right: auto;
         margin-left: auto;
     }
     .modal-lg {
         margin-right: 10px;
         margin-left: 10px;
     }
 }

 @media (min-width: 920px) {
     .modal-lg {
         margin-right: auto;
         margin-left: auto;
     }
 }
 /*Filter styles*/

 .saturate {
     filter: saturate(3);
 }

 .grayscale {
     filter: grayscale(100%);
 }

 .contrast {
     filter: contrast(160%);
 }

 .brightness {
     filter: brightness(0.25);
 }

 .blur {
     filter: blur(3px);
 }

 .invert {
     filter: invert(100%);
 }

 .sepia {
     filter: sepia(100%);
 }

 .huerotate {
     filter: hue-rotate(180deg);
 }

.upside-down{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}

 .rss.opacity {
     filter: opacity(50%);
 }

 body {
     background-color: #f7f7f7;
 }

 .wordwrap {
     white-space: pre-wrap;
     /* CSS3 */
     white-space: -moz-pre-wrap;
     /* Firefox */
     white-space: -pre-wrap;
     /* Opera <7 */
     white-space: -o-pre-wrap;
     /* Opera 7 */
     word-wrap: break-word;
     /* IE */
 }
  
 