 /* global */


 @font-face {
     font-family: 'Roboto-Light';
     /*a name to be used later*/
     src: url('Roboto-Light.ttf');
     /*URL to font*/
 }

 @font-face {
     font-family: 'Roboto-Regular';
     /*a name to be used later*/
     src: url('Roboto-Regular.ttf');
     /*URL to font*/
 }
 /* Bootstap modal support */

 .modal-header,
 .modal-footer {
     border: none;
 }

 .modal-header .close{
     color: #fff;
     font-size: 30px;
     opacity: 1;
     font-family: 'Roboto-Light';
 }

 .modal-title {
     font-size: 30px;
     color: #fff;
     font-family: 'Roboto-Light';
     text-align: center;
 }

 .modal-content {
     background: url('./img/Web_Dialod_Background.png')  ;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top right;
 }

 .modal-dialog {
     padding-top: 13%;
 }

 .modal-dialog {
     position: relative;
     width: auto;
     max-width: 600px;
     margin: 10px;
 }

 .modal-sm {
     max-width: 300px;
 }

 .modal-lg {
     max-width: 900px;
 }

 @media (min-width: 768px) {
     .modal-dialog {
         margin: 30px auto;
     }
 }

 @media (min-width: 320px) {
     .modal-sm {
         margin-right: auto;
         margin-left: auto;
     }
 }

 @media (min-width: 620px) {
     .modal-dialog {
         margin-right: auto;
         margin-left: auto;
     }
     .modal-lg {
         margin-right: 10px;
         margin-left: 10px;
     }
 }

 @media (min-width: 920px) {
     .modal-lg {
         margin-right: auto;
         margin-left: auto;
     }
 }
 /*Filter styles*/

 .saturate {
     filter: saturate(3);
 }

 .grayscale {
     filter: grayscale(100%);
 }

 .contrast {
     filter: contrast(160%);
 }

 .brightness {
     filter: brightness(0.25);
 }

 .blur {
     filter: blur(3px);
 }

 .invert {
     filter: invert(100%);
 }

 .sepia {
     filter: sepia(100%);
 }

 .huerotate {
     filter: hue-rotate(180deg);
 }

 .rss.opacity {
     filter: opacity(50%);
 }

 body {
     background-color: #f7f7f7;
 }

 .wordwrap {
     white-space: pre-wrap;
     /* CSS3 */
     white-space: -moz-pre-wrap;
     /* Firefox */
     white-space: -pre-wrap;
     /* Opera <7 */
     white-space: -o-pre-wrap;
     /* Opera 7 */
     word-wrap: break-word;
     /* IE */
 }
 /* app.js */

 #main-navbar {
     background: #00bcd4;
     height: 80px;
     padding-top: 10px;
 }

 #navbar-username{
     /* padding-top: 10px; */
 }
 #navbar-username span{
     color:#fff;
     font-size: 25px;
     font-family: 'Roboto-Light';
    
 }

 #main-navbar .search-wrapper {
     position: relative;
     /* width: 30%;
       margin-left: 10%; */
 }

 #main-navbar .nav-btn{
     background: transparent;
     color:white;
     font-size: 25px;
     font-family: 'Roboto-Light';
 }

 #main-navbar .search-wrapper img {
     position: absolute;
     right: 10px;
     top: 5px;
 }

#navbar-dropdown{
    background: #00bcd4;
}
#navbar-dropdown li a{
    color:#fff;
}
#navbar-dropdown li:hover{
    background:#fff;
}
#navbar-dropdown li:hover a{
    color:#000;
}
 .navbar-brand {
     padding: 5px 20px;
 }



 @media screen and (min-width: 768px) {
     
    #navbar-dropdown{
        visibility: hidden; 
    }
    #dropdown-wrapper{
        height: 0;
    }
}

 

#login-modal-content{
    /* padding: 196px; */
}
@media screen and (max-width: 910px) {
    #login-modal-content{
        /* padding: 0; */
    }
}



 .navbar-brand>img {
     height: 65px;
     width: 65px;
     margin: 0;
     padding: 0;
     margin-top: -9px;
 }

 #site-wrapper {
     padding-right: 0;
     padding-left: 0;
 }

 #site-wrapper>.col-md-8 {}

 .sideBar {
     height: 500px;
     /* background: rgb(136, 133, 133); */
 }

 #hashtagCol {
     padding-right: 0;
     padding-left: 0;
 }

 #hashtagCol .hashtag-sb-header {
     background: #64bdcb;
     border-radius: 25px;
     text-align: center;
     padding: 5px 0 5px 0;
 }

 #hashtagCol .hashtag-sb-header span {
     font-size: 26px;
     color: #fff;
     font-family: 'Roboto-Light'
 }

 #hashtagCol .chip-text {
     font-family: 'Roboto-Light';
     font-size: 26px;
     color: '#64bdcb';
 }

 #hashtagCol ul {
     text-align: center;
     margin: 0;
     padding: 0;
 }

 #hashtagCol ul li {
     list-style-type: none;
     display: inline;
 }

 #hashtagCol ul li a {
     font-size: 30px;
 }

 .gridFluid {
     width: 100%;
     margin: 0;
     padding: 0;
 }

 .snackBarContent {
     color: rgb(255, 64, 129);
     padding-left: 16px;
     padding-right: 16px;
     vertical-align: middle;
     letter-spacing: 0px;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 14px
 }

 .title {
     cursor: pointer;
 }

 .popOverItem {
     text-decoration: none
 }

 .appBar {
     margin-bottom: 0px
 }
 /* post-detail.js */

 .uploadButton {
     vertical-align: middle;
     margin-right: 10px;
     color: #fff;
     float: left;
 }

 .uploadInput {
     cursor: pointer;
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     width: 100%;
     opacity: 0;
 }

 .upload {
     text-align: right;
 }

 .hide {
     display: none;
 }

 .show {
     display: block;
 }

 .chip {
     margin: 4;
 }

 .postForm {
     width: 100%;
     height: 100%;
     background-color: #fff;
     margin: 0;
     border: solid 1px #d0c4c4;
     border-radius: 2;
 }

 .wrapper {
     background-color: #f4f5f8;
     padding: 0;
 }

 .submitBtn {
     float: right;
     margin-right: 10px;
     margin-top: -29px;
 }

 .btnWrapper {
     display: inline-block;
     width: 100%
 }
 /* register-form.js */

 .modal-content .regis-input {
     border: 1px #fff solid;
     border-radius: 3px;
     width: 30%;
     margin-left: auto;
     margin-right: auto;
 }

 #regis-form {
     width: 50%;
     margin-right: auto;
     margin-left: auto;
 }

 #regis-form .regis-btn {
     float: right;
     display: inline;
     color:#fff;
     background-color: Transparent;
     background-repeat:no-repeat;
     cursor:pointer;
     overflow: hidden;
     outline:none;
     border: sollid 1px #fff;
 }

 
 
 /* login-form.js */
 #login-form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

 #login-form .login-btn {
    float: right;
    display: inline;
    color:#fff;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: sollid 1px #fff;
}

 .loginAction {
     float: right;
     display: inline
 }

 .regisBtn {
     float: left;
     display: inline
 }
 /* post-list.js */

 #postType {
     width: 100%;
     
     background: #fff;
     /* box-shadow: 3px 3px #cacaca; */
 }

 #postType>li {
     width: 33.333%;
     text-align: center;
 }

 #postType>li.active {
     border: none;
     border-bottom: solid 4px #659fe8;
 }

 #postType>li a {
     font-size: 29px;
     font-family: 'Roboto-Light';
     font-weight: 600;
 }

 .loading-icon {
     margin-top: 30px;
     clear: both;
     margin-right: auto;
     margin-left: auto;
 }

 .container-masonry {
     -moz-column-count: 2;
     -webkit-column-count: 2;
     column-count: 2;
     -moz-column-gap: 20px;
     -webkit-column-gap: 20px;
     column-gap: 20px;
 }

 .container-masonry .masonry-item:nth-child(4n+1) {
     clear: left;
 }

 .container-masonry .masonry-item {
     display: inline-block;
     width: 100%;
     margin: 10px 0 10px 0;
 }

 @media screen and (max-width: 574px) {
     .container-masonry {
         -moz-column-count: 1;
         -webkit-column-count: 1;
         column-count: 1;
         -moz-column-gap: 20px;
         -webkit-column-gap: 20px;
         column-gap: 20px;
     }
     #site-wrapper>.col-md-8 {
         border: none;
     }
 }

 .content {
     color: #000;
     font-size: 28px;
     font-family: 'Roboto-Regular';
 }
 /* post.js */

 .post-content {
     font-family: 'Roboto-Light';
     font-size: 25px;
 }
 /* detail-page.js */

 .iframe-wrapper {
     position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
 }

 .youtube-iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
 
 #comment-box  li{
    padding-left: 5px;
    list-style-type: none;
}

/* comment-item.js */
#subcomment-box li{
    padding-left: 5%;
}

.cmt-content{
    font-family: 'Roboto-Light';
    font-size: 20px;
}