#user-detail .header {
    background: #4abdd5;
    height: auto;
    padding-top: 20px;
   padding-bottom: 15px;
}

#user-detail .header .header-img {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

#user-detail .header .header-img .img-content {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

#user-detail .header .header-img .img-content img {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 60px;
    height: 60px;
    z-index: 6;
}

#user-detail .header .header-img .img-top {
    position: absolute;
    top: 0;
    z-index: 3;
    height: 33px;
    overflow: hidden;
}

#user-detail .header .header-img .img-border {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: white solid 3px;
    background: none;
}

#user-detail .header .header-img .img-top>div {
    background: #161515;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

#user-detail .header .header-img .header-firstw {
    position: absolute;
    top: -3px;
    left: 65px;
    z-index: 3;
    font-size: 30px;
}

#user-detail .header .username {
    height: 160px;
    padding-top: 160px;
}

#user-detail .header .username span {
    font-family: 'Roboto-Regular';
    color: white;
    font-size: 24px;
}

#user-detail .header .edit-btn {
    padding-top: 40px;
}

#user-detail .header .edit-btn button {
    background: none;
    border: solid 1px #f0e9e9;
    border-radius: 3px;
    font-size: 20px;
    color: white;
}

#user-detail .userdetail-nav {
    width: 100%;
    margin-top: 40px;
    background: none;
    /* box-shadow: 3px 3px #cacaca; */
}

#user-detail .userdetail-nav li {
    width: 33.33333%;
    text-align: center;
}

#user-detail .userdetail-nav li.active {
    
    border-bottom: solid 2px blue;
}

#user-detail .userdetail-nav li.active a {
    border: none;
    background: none;
}

#user-detail .userdetail-nav li a:hover {
    background: none;
}

#user-detail .userdetail-nav span {
    color: white;
    font-family: 'Roboto-Light';
    font-size: 24px;
}

#user-detail .userdetail-nav li.active span{
    color:blue;
}

#user-detail .post-nav {
    width: 100%;
    margin-top: 0px;
    padding: 0;
    background: #52a3cc;
    border: none;
    /* box-shadow: 3px 3px #cacaca; */
}

#user-detail .post-nav li {
    width: 33.33333%;
    text-align: center;
}

#user-detail .post-nav li.active {
    border: none;
}

#user-detail .post-nav li.active a { 
    background: none;
    border: none;
     
}
 
#user-detail .post-nav li a:hover {
    background: none;
    border: none;
}

#user-detail .post-nav .tab-span {
    color: white;
    font-family: 'Roboto-Light';
    font-size: 20px;
    border: solid 1px white;
    border-radius: 5px;
    padding:5px;
    background: none;
}

#user-detail .post-nav li.active .tab-span{
    background: #5f879b;
}

#user-detail .tab-view{
    padding-left: 15px;
    padding-right: 15px;
}

 